<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(_, ~{::#cuerpo})}">

<body>
	<div id="cuerpo">

		<section data-th-fragment="carro" class="h-100 h-custom" style="background-color: #d2c9ff;">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12">
						<div class="card card-registration card-registration-2" style="border-radius: 15px;">
							<div class="card-body p-0">
								<div class="row g-0">
									<div class="col-lg-8">
										<div class="p-5">
											<div class="d-flex justify-content-between align-items-center mb-5">
												<h1 class="fw-bold mb-0">Carrito</h1>
												<h6 class="mb-0 text-muted">
													[[${carrito.items.size()}]] items
												</h6>
											</div>
											<hr class="my-4">

											<div 
												data-th-each="item, stat : ${carrito.items}"
												class="row mb-4 d-flex justify-content-between align-items-center">
												<div class="col-md-2 col-lg-2 col-xl-2">
													<img 
														data-th-src="@{/images/{imagen}(imagen=${item.aviso.imagen})}" 
														src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
														alt="Cotton T-shirt"
														data-th-alt="${item.aviso.titulo}"
														class="img-fluid rounded-3" />
												</div>
												<div class="col-md-3 col-lg-3 col-xl-3">
													<h6 class="text-muted">
														<small data-th-text="${item.aviso.sku}">
															Shirt	
														</small>														
													</h6>
													<h6 data-th-text="${item.aviso.titulo}" class="mb-0">Cotton T-shirt</h6>
												</div>
												<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
														<i class="fas fa-minus"></i>
													</button>
													
													<form data-th-action="@{/carrito/add}" method="GET" data-th-id="|form-${item.aviso.sku}|">
														<input type="hidden" name="sku" data-th-value="${item.aviso.sku}" />
														<input id="form1" min="1" data-th-max="${item.aviso.stock}" name="cant" data-th-value="${item.cantidad}" value="1" type="number" style="width: 80px;"
														class="form-control form-control-lg" />
													</form>

													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
														<i class="fas fa-plus"></i>
													</button>
												</div>
												<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
													<h6 class="mb-0" data-th-text="${#numbers.formatCurrency(item.subtotal())}">€ 44.00</h6>
												</div>
												<div class="col-md-1 col-lg-1 col-xl-1 text-end">
													<a data-th-data-sku="${item.aviso.sku}" data-th-onclick="document.querySelector('#form-'+this.getAttribute('data-sku')).submit();" href="#!" class="text-muted"><i class="fas fa-floppy-disk"></i></a>
													
													<a data-th-href="@{/carrito/remove(sku=${item.aviso.sku})}" href="#!" class="text-muted"><i class="fas fa-times ps-3"></i></a>
												</div>
											</div>

											<hr data-th-remove="all" class="my-4">

											<div
												data-th-remove="all" 
												class="row mb-4 d-flex justify-content-between align-items-center"
												>
												<div class="col-md-2 col-lg-2 col-xl-2">
													<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img6.webp"
														class="img-fluid rounded-3" alt="Cotton T-shirt">
												</div>
												<div class="col-md-3 col-lg-3 col-xl-3">
													<h6 class="text-muted">Shirt</h6>
													<h6 class="mb-0">Cotton T-shirt</h6>
												</div>
												<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
														<i class="fas fa-minus"></i>
													</button>

													<input id="form1" min="0" name="quantity" value="1" type="number"
														class="form-control form-control-sm" />

													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
														<i class="fas fa-plus"></i>
													</button>
												</div>
												<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
													<h6 class="mb-0">€ 44.00</h6>
												</div>
												<div class="col-md-1 col-lg-1 col-xl-1 text-end">
													<a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
												</div>
											</div>

											<hr data-th-remove="all" class="my-4">

											<div data-th-remove="all" class="row mb-4 d-flex justify-content-between align-items-center">
												<div class="col-md-2 col-lg-2 col-xl-2">
													<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img7.webp"
														class="img-fluid rounded-3" alt="Cotton T-shirt">
												</div>
												<div class="col-md-3 col-lg-3 col-xl-3">
													<h6 class="text-muted">Shirt</h6>
													<h6 class="mb-0">Cotton T-shirt</h6>
												</div>
												<div class="col-md-3 col-lg-3 col-xl-2 d-flex">
													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
														<i class="fas fa-minus"></i>
													</button>

													<input id="form1" min="0" name="quantity" value="1" type="number"
														class="form-control form-control-sm" />

													<button data-mdb-button-init data-mdb-ripple-init
														class="btn btn-link px-2"
														onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
														<i class="fas fa-plus"></i>
													</button>
												</div>
												<div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
													<h6 class="mb-0">€ 44.00</h6>
												</div>
												<div class="col-md-1 col-lg-1 col-xl-1 text-end">
													<a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
												</div>
											</div>

											<hr class="my-4">

											<div class="pt-5">
												<h6 class="mb-0">
													<a data-th-href="@{/}" href="#!" class="text-body">
														<i														class="fas fa-long-arrow-alt-left me-2"></i>Volver al catálogo</a>
												</h6>
											</div>
										</div>
									</div>
									<div class="col-lg-4 bg-body-tertiary">
										<div class="p-5">
											<h3 class="fw-bold mb-5 mt-2 pt-1">Resumen</h3>
											<hr class="my-4">

											<div class="d-flex justify-content-between mb-4">
												<h5 class="text-uppercase">TOTAL</h5>
												<h5 data-th-text="${#numbers.formatCurrency(carrito.total())}">€ 132.00</h5>
											</div>

											<h5 data-th-remove="all" class="text-uppercase mb-3">Shipping</h5>

											<div data-th-remove="all" class="mb-4 pb-2">
												<select data-mdb-select-init>
													<option value="1">Standard-Delivery- €5.00</option>
													<option value="2">Two</option>
													<option value="3">Three</option>
													<option value="4">Four</option>
												</select>
											</div>

											<h5 data-th-remove="all" class="text-uppercase mb-3">Give code</h5>

											<div data-th-remove="all" class="mb-5">
												<div data-mdb-input-init class="form-outline">
													<input type="text" id="form3Examplea2"
														class="form-control form-control-lg" />
													<label class="form-label" for="form3Examplea2">Enter your
														code</label>
												</div>
											</div>

											<hr data-th-remove="all" class="my-4">

											<div data-th-remove="all" class="d-flex justify-content-between mb-5">
												<h5 class="text-uppercase">Total price</h5>
												<h5>€ 137.00</h5>
											</div>

											<button type="button" data-mdb-button-init data-mdb-ripple-init
												class="btn btn-dark btn-block btn-lg"
												data-mdb-ripple-color="dark">Comprar</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>

</html>