<!DOCTYPE html>
<html data-th-replace="~{layout :: layout(_, ~{::#cuerpo})}">	
	<body>
		<div id="cuerpo">
			<h2 class="text-center mt-5 mb-3">
				Ubicación
			</h2>

			<div class="d-flex justify-content-center mb-5">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.718752699085!2d-70.58635562487852!3d-33.40450099515954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf250de7f841%3A0xf9f838a245f24075!2sAlonso%20de%20C%C3%B3rdova%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1740451750830!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>	
			</div>			
			
			
		</div>
	</body>
</html>